@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EFEFEF;
	font-family: sans-serif;
}

header {
	display: block;
	height: 100px;
	background: #B8312F;
}

header h1 {
	position: absolute;
	top: 30px;
	left: 100px;
	color: white;
}

header form {
	position: absolute;
	top: 30px;
	right: 100px;
}

header input[type = "search"] {
	padding: 5px 0;
}

header label {
	color: white;
}

button {
	background-color: #FAC51C;
	color: white;
	border: 1px solid #FAC51C;
	padding: 5px 50px; 
}

nav {
	background-color: #F37934;
}

nav ul {
	padding: 10px 0;	
}

nav li {
	display: inline;
	margin: 0px 30px;
}

nav li a {
	color: white;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 80%;
}

label {
	display: inline-block;
	width: 100px;
}

input[type="text"], textarea {
	display: inline-block;
	width: 200px;
}

body > form {
	text-align: center;
	width: 400px;
	margin: 50px auto 0;
	padding: 20px;
	background: rgba(0, 0, 0, 0.25);
}

body > form label {
	text-align: right;
	vertical-align: top;
}

body > form input, body > form textarea {
	border: 0; !important
	border-radius: 5px;
	box-shadow: none;
	padding: 5px;
}

form p {
	font-size: 0.75em;
	text-align: left;
}